@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');


#feature {
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
    padding: 8px 80px;

    .t-header {
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-break: 20px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
    }


    .featured-container {
        .top-left {
            height: 40vh;
            background: orange;
            padding: 20px;

            .Nig {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }

        .top-right {
            height: 42vh;
            background-color: antiquewhite;
            padding: 20px;

            .Gh {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }

        .bottom-left {
            height: 40vh;
            background: black;
            padding: 20px;
            color: white;

            .Jac {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: white;
            }
        }

        .bottom-right {
            height: 42vh;
            background: azure;
            padding: 20px;

            .Sa {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }
    }

}

#feature-dark {
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
    padding: 8px 80px;

    .t-header {
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-break: 20px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
        color: white;
    }


    .featured-container {
        .top-left {
            height: 40vh;
            background: orange;
            padding: 20px;

            .Nig {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }

        .top-right {
            height: 42vh;
            background-color: antiquewhite;
            padding: 20px;

            .Gh {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }

        .bottom-left {
            height: 40vh;
            background: black;
            padding: 20px;
            color: white;

            .Jac {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: white;
            }
        }

        .bottom-right {
            height: 42vh;
            background: azure;
            padding: 20px;

            .Sa {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }
    }
}