@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');


#feature {
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
    padding: 8px 80px;

    .t-header {
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-break: 20px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
    }


    .featured-container {
        .top-left {
            height: 40vh;
            background: orange;
            padding: 20px;

            .Nig {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }

        .top-left:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Nigeria.svg/2560px-Flag_of_Nigeria.svg.png');
            background-repeat: cover no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .top-right {
            height: 42vh;
            background-color: antiquewhite;
            padding: 20px;

            .Gh {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }

        }
        
        .top-right:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Flag_of_Ghana.svg/1599px-Flag_of_Ghana.svg.png');
            background-repeat: cover no-repeat;
            background-size: contain;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
            color: white;
        }

        .bottom-left {
            height: 40vh;
            background: black;
            padding: 20px;
            color: white;

            .Jac {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: white;
            }

        }

        .bottom-left:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1600px-Flag_of_Jamaica.svg.png');
            background-repeat: cover no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .bottom-right {
            height: 42vh;
            background: azure;
            padding: 20px;

            .Sa {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }

        }

        .bottom-right:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Flag_of_South_Africa.svg/800px-Flag_of_South_Africa.svg.png');
            background-repeat: cover no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

}

#feature-dark {
    margin-top: 10px;
    width: 100vw;
    height: 100vh;
    padding: 8px 80px;

    .t-header {
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-break: 20px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
        color: white;
    }


    .featured-container {
        .top-left {
            height: 40vh;
            background: orange;
            padding: 20px;

            .Nig {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }

        .top-left:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Nigeria.svg/2560px-Flag_of_Nigeria.svg.png');
            background-repeat: cover no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .top-right {
            height: 42vh;
            background-color: antiquewhite;
            padding: 20px;

            .Gh {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }

        }
        
        .top-right:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Flag_of_Ghana.svg/1599px-Flag_of_Ghana.svg.png');
            background-repeat: cover no-repeat;
            background-size: contain;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
            color: white;
        }

        .bottom-left {
            height: 40vh;
            background: black;
            padding: 20px;
            color: white;

            .Jac {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: white;
            }

        }

        .bottom-left:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1600px-Flag_of_Jamaica.svg.png');
            background-repeat: cover no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .bottom-right {
            height: 42vh;
            background: azure;
            padding: 20px;

            .Sa {
                text-align: left;
                font-size: 55px;
                font-weight: 700;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }

        }

        .bottom-right:hover {
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Flag_of_South_Africa.svg/800px-Flag_of_South_Africa.svg.png');
            background-repeat: cover no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}