@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

#catalogue {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 80px;


    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .t-catalogue {
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-break: 20px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
    }

    .productCard {
        cursor: pointer;
        border: none;
        box-shadow: 0px 0px 5px #939393;
        transition-delay: ease-in 5s;
        transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 0;
        width: 250px;
        height: 380px;
        margin-right: 40px;
        margin-bottom: 50px;
        

        .card-header {
            border: none;
            padding: 0px;
            background: whitesmoke;
            height: 250px;

            .card-img {
                width: 100%;
                height: 100%;
                border-radius: 0px;
            }
        }

        .logo {
            height: 275px;
            object-fit: contain;
            background: whitesmoke;
        }

        .t-text {
            font-size: 18px;
            font-weight: 400;
            line-break: 18px;
            font-family: 'Bitter', serif;
            font-family: 'Smooch Sans', sans-serif;
        }
    }

    .productCard:hover {
        flex-shrink: 1;
        overflow: hidden;
        position: relative;
        transform: translateY(-15px);
        box-shadow: 0px 3px 10px #939393;
        transition-delay: ease-in 5s;
        transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        transition-property: transform, box-shadow;
        z-index: 999;

        .card-header {
            border: none;
        }
    }
}

#catalogue-dark {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 80px;

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .t-catalogue {
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-break: 20px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
        color: white;
    }

    .productCard {
        cursor: pointer;
        border: none;
        box-shadow: 0px 0px 5px #939393;
        transition-delay: ease-in-out 5s;
        transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 0;
        background: rgb(44, 44, 44);
        color:rgb(255, 255, 255);
        width: 250px;
        height: 380px;
        margin-right: 40px;
        margin-bottom: 50px;

        .card-header {
            border: 0px;
            padding: 0px;
            background: rgb(37, 37, 37);
            box-shadow: 0px 0px 5px #939393;
            height: 250px;

            .card-img {
                width: 100%;
                height: 100%;
                border-radius: 0px;
            }
        }

        .logo {
            height: 275px;
            object-fit: contain;
            background: whitesmoke;
        }

        .t-text {
            font-size: 18px;
            font-weight: 400;
            line-break: 18px;
            font-family: 'Bitter', serif;
            font-family: 'Smooch Sans', sans-serif;
        }
    }

    .productCard:hover {
        flex-shrink: 1;
        overflow: hidden;
        position: relative;
        transform: translateY(-15px);
        box-shadow: 0px 3px 10px #939393;
        transition-delay: ease-in-out 5s;
        transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        transition-property: transform, box-shadow;
        z-index: 999;

        .card-header {
            border: none;
        }
    }
}

#product {
    display: flex;
    justify-content: center;
    width: 100%;

    .img {
        width: 100%;
        object-fit: stretch;
        height: 500px;
    }

    .card-container {
        width: 100%;

        .title {
            text-align: center;
        }
    }

    .product-info {

    }
}

#product {
    display: flex;
    justify-content: center;
    width: 100%;

    .img {
        width: 100%;
        object-fit: stretch;
        height: 500px;
    }

    .card-container {
        width: 100%;

        .title {
            text-align: center;
        }
    }

    .product-info {

    }
}