@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

.light {
    background: rgba(248, 249, 250, 0.753);
}

.dark {
    background: rgba(44, 44, 44, 0.87);
}

#myNavBar {
    position: sticky;
    top: 0;
    padding: 8px 80px;
    justify-content: center;
    z-index: 1000;

    .brand {
        margin-right: auto;

        .brand-container {
            display: flex;
            align-items: center;

            .d-text {
                margin-left: 15px;
                font-size: 25px;
                font-weight: 700;
                line-break: 18px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .d-text:hover {
                margin-left: 25px;
                font-size: 25px;
                font-weight: 700;
                letter-spacing: 3px;
                line-break: 18px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                transform: translateY(-4px);
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .d-textDark {
                margin-left: 15px;
                font-size: 25px;
                font-weight: 700;
                line-break: 18px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: white;
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .d-textDark:hover {
                margin-left: 25px;
                font-size: 25px;
                font-weight: 700;
                letter-spacing: 3px;
                line-break: 18px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                transform: translateY(-4px);
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .brandIcon {
                width: 27px;
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .brandIcon:hover {
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
                width: 30px;
                transform: translateY(-4px);
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }


    .link-container {
        display: flex;
        justify-content: center;

        .darkModeBtn {
            background: transparent;
            border: none;

            .btn-img {
                width: 27px;
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);

            }
        }

        .darkModeBtn:hover {
            background: transparent;
            border: none;

            .btn-img {
                width: 30px;
                transform: translateY(-4px);
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);

            }
        }

        .darkModeBtn:active {
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
        }

        .darkModeBtn:focus {
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
        }

        .navLink {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                align-items: center;
                visibility: visible;
                font-size: 18px;
                font-weight: 500;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: black;
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .title-dark {
                align-items: center;
                visibility: visible;
                font-size: 18px;
                font-weight: 500;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: white;
                transition-delay: ease-in 0.5s;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }

            .icon {
                visibility: hidden;
                position: absolute;
            }

            .icon-dark {
                visibility: hidden;
                position: absolute;
            }

        }

        .navLink:hover .icon {
            visibility: visible;
            position: absolute;
            top: 42px;
        }

        .navLink:hover .icon-dark {
            visibility: visible;
            position: absolute;
            top: 42px;
        }

        .navLink:hover .title {
            align-items: center;
            visibility: visible;
            letter-spacing: 3px;
            transform: translateY(-3px);
            font-size: 18px;
            font-weight: 500;
            line-break: 20px;
            font-family: 'Bitter', serif;
            font-family: 'Smooch Sans', sans-serif;
            transition-delay: ease-in 0.5s;
            transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .navLink:hover .title-dark {
            align-items: center;
            visibility: visible;
            letter-spacing: 3px;
            transform: translateY(-3px);
            font-size: 18px;
            font-weight: 500;
            line-break: 20px;
            font-family: 'Bitter', serif;
            font-family: 'Smooch Sans', sans-serif;
            color: white;
            transition-delay: ease-in 0.5s;
            transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

    }

}