@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

#myNavBar {
    position: sticky;
    top: 0;
    padding: 8px 80px;
    justify-content: center;
    // background: lightgrey;

    .brand {
        margin-right: auto;

        .brand-container {
            display: flex;
            align-items: center;

            .d-text {
                margin-left: 7px;
                font-size: 25px;
                font-weight: 700;
                line-break: 18px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
        }
    }


    .link-container {
        display: flex;
        justify-content: center;

        .darkModeBtn {
            background: transparent;
            border: none;
        }

        .darkModeBtn:active {
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
        }

        .darkModeBtn:focus {
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
        }

        .navLink {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                align-items: center;
                visibility: hidden;
                font-size: 18px;
                font-weight: 500;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
                color: black;
            }

            .title-dark {
                align-items: center;
                visibility: hidden;
                font-size: 18px;
                font-weight: 500;
                line-break: 20px;
                font-family: 'Bitter', serif;
                font-family: 'Smooch Sans', sans-serif;
            }
    
        }

        .navLink:hover .title {
            align-items: center;
            visibility: visible;
            font-size: 18px;
            font-weight: 500;
            line-break: 20px;
            font-family: 'Bitter', serif;
            font-family: 'Smooch Sans', sans-serif;  
        }

        .navLink:hover .title-dark {
            align-items: center;
            visibility: visible;
            font-size: 18px;
            font-weight: 500;
            line-break: 20px;
            font-family: 'Bitter', serif;
            font-family: 'Smooch Sans', sans-serif;
            color: white; 
        }

    }

}