@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

// --------------------------------------- B/O Styles -----------------------------------------
#bo-container {
    padding: 20px 80px;
    justify-content: center;
    min-height: 89vh;

    .t-BO {
        text-align: center;
        text-align: center;
        font-size: 45px;
        font-weight: 600;
        line-break: 18px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
    }

    .t-BO-Dark {
        text-align: center;
        text-align: center;
        font-size: 45px;
        font-weight: 600;
        line-break: 18px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
        color: white;
    }

    .t-addNewProd {
        text-align: center;
        font-size: 35px;
        font-weight: 500;
        line-break: 18px;
        font-family: 'Bitter', serif;
        font-family: 'Smooch Sans', sans-serif;
    }

    .card-container {
        display: flex;
        justify-content: center;

        .card-holder {
            margin-right: 20px;
            max-width: 200px;
            max-height: 200px;
            transition-delay: ease-in 0.5s;

            .card {
                width: 100%;
                border-radius: 0px;
                box-shadow: 0px 0px 5px #939393;
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);


                .card-header {
                    padding: 10px;
                    border-radius: 0px;

                    .card-img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 0px;
                    }
                }
            }
        }

        .card-holderDark {
            margin-right: 20px;
            max-width: 200px;
            max-height: 200px;
            transition-delay: ease-in 0.5s;
            

            .card {
                width: 100%;
                border-radius: 0px;
                background: rgb(44, 44, 44);
                color:rgb(255, 255, 255);
                transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
                box-shadow: 0px 0px 5px #939393;


                .card-header {
                    padding: 10px;
                    border-radius: 0px;

                    .card-img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 0px;
                    }
                }
            }
        }
    }

    .card-holder:hover .card {
        padding: 0px;
        flex-shrink: 1;
        position: relative;
        border-radius: 0.2rem;
        transform: translateY(-4px);
        box-shadow: 0px 3px 10px #939393;
        transition-delay: ease-in 0.5s;
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        transition-property: transform, box-shadow;
    }

    .card-holderDark:hover .card{
        padding: 0px;
        flex-shrink: 1;
        position: relative;
        border-radius: 0.2rem;
        transform: translateY(-4px);
        box-shadow: 0px 3px 10px #939393;
        transition-delay: ease-in 0.5s;
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        transition-property: transform, box-shadow;
    }
}


// --------------------------------------- Form Styles -----------------------------------------
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Bitter', serif;
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da;
    appearance: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#form {
    .select {
        position: absolute;
        right: 0px;
        top: 5px;
        border: none;
    }

    .select:active {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .select:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .formControl:active {
        border: none;
        border-radius: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid rgb(216, 215, 215);
    }

    .formControl:focus {
        border: none;
        border-radius: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid rgb(216, 215, 215);
    }

    .addProdBtn {
        border: 1px solid black;
        background: white;
        color: black;
        width: 230px;
        border-radius: 0;
        transition-delay: ease-in 0.5s;
        transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);

        .btn-span {
            font-size: 20px;
            font-weight: 500;
            font-family: 'Bitter', serif;
            font-family: 'Smooch Sans', sans-serif;
        }
    }

    .addProdBtn:hover {
        border: 1px solid black;
        background: black;
        letter-spacing: 3px;
        color: white;
        width: 230px;
        animation-duration: 2s;
    }

    .addProdBtn:active {
        border: 1px solid black;
        background: black;
        letter-spacing: 3px;
        color: white;
        width: 230px;
        box-shadow: none;
        outline: none;

    }

    .addProdBtn:focus {
        border: 1px solid black;
        background: black;
        letter-spacing: 3px;
        color: white;
        width: 230px;
        box-shadow: none;
        outline: none;

    }
}